*{
  margin: 0;
  padding: 0;
}

.container {
  padding: 35px 130px 10px 135px;
  background-color: #74C69D;
}


.navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.logo {
  display: flex;
  align-items: center;
}

.link {
  display: flex;
  gap: 30px;
  align-items: center;
}

.link a {
  text-decoration: none;
  color: #FFFFFF;
}

#list {
  visibility: hidden;
}

.main-portfolio {
  background-color: white;
}

.container1 {
  padding: 35px 130px 10px 135px;
  background-color: white;
}

.portfolio-text p#Green {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 5px;
  text-align: center;
  color: #74C69D;
}

.portfolio-text h4 {

  font-family: Crimson Text;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0px;
  text-align: center;
}

.portfolio-text p {
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;

}

.portfolio-image{
  display: grid;
  grid-template-columns: 1fr 1fr;
 
  justify-content: center;
  grid-gap:55px;
  /* align-items: center; */
  padding-top: 82px;
  
}
.portfolio-image img{
  height: 100%;
  width: 100%;
}

.button{
font-family: Work Sans;
font-size: 10px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0px;
text-align: center;
color: white;
padding-top: 64px;
}
.button button{
  background-color: black;
  color: white;
  border-radius: 4px;
  font-family: Work Sans;
font-size: 20px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0px;
text-align: center;
}


/*footer*/

.container2{
  background-color: #74C69D;
  padding-left: 131px;
  padding-right: 131px;
  padding-top: 51px;
  padding-bottom: 49px;
  display: flex;
  justify-content: space-between;
}
.footer-icon{
  display: flex;
  gap:30px;
  color: white;
}
.right{
  color: white;
}

@media only screen and (max-width: 1200px){
  .portfolio-image{
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;


  }

}

@media only screen and (max-width:800px){
  .container2{
    flex-direction: column;
    gap:50px;
  }
}
@media only screen and (max-width: 600px){
  .container{
    padding:0px;
    /* width: 100%; */
    margin: 0px;
  }
  .link a {
    display: none;
  }

  .link img#list {
    visibility: visible;
  }

.container1{
  padding: 0;
}
  .portfolio-image{
   grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 400px){
.container{
  padding: 0%;
}
.container1{
  padding: 0%;
}
.container2{
  padding: 0%;
}
.footer-icon{
  padding-top: 20px;
}
}